<!DOCTYPE html>
<html>
<head><title>Login</title></head>
<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for msg in messages %}
            <li>{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="post">
        <input type="text" name="username" placeholder="Usuário"><br>
        <input type="password" name="password" placeholder="Senha"><br>
        <input type="submit" value="Entrar">
    </form>
</body>
</html>
